<!DOCTYPE html>
<html>
    <head>
	<title>Handout - let clients edit their markdown on your server </title>
    </head>
<body>

<form id="edit-form" action="/edit" method="post">
    <input type="hidden" name="filepath" value="{{.FilePath}}">
    <input id="submit-button" type="submit" value="Save" style="display:none;">
    <a id="back-button" href="/" style="display:none;">back to files</a>
    <textarea id="summernote" name="filecontent" style="display:none;">{{.FileContent}}</textarea>
</form>

<script src="/js/jquery-3.1.1.min.js"></script>

<!-- SUMMERNOTE -->
<!-- include libraries(jQuery, bootstrap) -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
<link href="/summernote/summernote.css" rel="stylesheet">
<script src="/summernote/summernote.js"></script>
<script>
$(document).ready(function() {
var SaveButton = function(context) {
  var ui = $.summernote.ui;
  var button = ui.button({
    contents: '<i class="fa fa-pencil"/> Save',
    tooltip: 'Save File',
    click: function() {
      $("#submit-button").click();
    }
  });

  return button.render();
}
var BackToFilesButton = function(context) {
  var ui = $.summernote.ui;
  var button = ui.button({
    contents: '<i class="fa fa-pencil"/> Back',
    tooltip: 'Return To File Listing',
    click: function() {
      $("#back-button")[0].click();
    }
  });
  return button.render();
}
$(document).ready(function() {
  $('#summernote').summernote({
    toolbar: [
      ['handout', ['customsave', 'customback']],
      ['fonts', ['fontname', 'fontsize', 'color', 'style']],
      ['style', ['bold', 'italic', 'underline']],
      ['para', ['ul', 'ol', 'paragraph']],
      ['insert', ['picture', 'link', 'video', 'table', 'hr']],
      ['history', ['undo', 'redo']],
      ['view', ['codeview']]
    ],
    buttons: {
      customsave: SaveButton,
      customback: BackToFilesButton
    },
    callbacks: {
      onInit: function(e) {
        $("#summernote").summernote("fullscreen.toggle");
      }
    }
  });
});
});
</script>
</body>
</html>
